/*Start main rules*/
body
{
    background:Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    Linear-gradient(127deg, black, black 70.71%),
    Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);

    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: #DDD;
}



ul
{
    list-style: none;
    font-size: 30px;
    margin: 10px 0 10px 0;
}

/*End main rules*/

/*Start header*/
header
{
    
    
    overflow: hidden;
    
    
}
header nav
{
    
    width: 95%;
    float: right;
    
    
}

header nav ul
{
    word-spacing: 100px;
    
}

header nav ul li
{
    display: inline-block;
    margin: 0px;
    
}

header nav a
{
    text-decoration: none;
    color: #DDD;
}

header nav a:hover
{
    color: red; 
}

header .logo
{
    width: 5%;
    float: left;
   
    
}

header .logo img
{
    width: 60px;
    margin: 15px auto;
}



/*End header*/

/*Start content*/

.content2 .fond
{
    background-image: url('https://iyadhkhalfallah.github.io/checkpointsGMC/res/webdev3.png');
    height:450px;
}

.content2 .contenu
{
    font-size: 90px;
    padding-top:180px;
    margin: 0 auto;
    font-weight: normal;
}

.content2 .courses2
{
    
    margin: 0 auto;
    margin-top: 80px;
    max-width: 1000px;
}

.content2 .courses2 img
{
    width: 250px;
    height: 250px;
    margin-right: 50px;
    margin-top: 30px;
}

/*End content*/

/*Start footer*/

.feedback
{
    border-top: 0px;
    margin-top: 35px;
}

.feedback textarea
{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 600px;
    height: 100px;
}

/*End footer*/